// out: screen.css, compress: true, sourceMap: true

@import 'fonts.css';
// Color variables (appears count calculates by raw css)
$color0: #ffffff;
$dark_fon: #3f4049;
$ligth_fon: #f7f7f7;
$green: #38c695;
$purple:#b27cf5;
$orange:#feb960;;
$red: #fc5f45;
$heigth1:70px;

.page{
	color: green;
}

h1 {
	color: $color0;
	font-family: 'Libre Baskerville';
	font-size: 60px;
	font-style: normal;
	font-weight: 400;
	line-height:60px;
	padding: 30px;
	text-align: center;
	margin: 0;
		@media (max-width: 992px) {
			font-size: 40px;
			line-height:40px;
			padding: 20px; 
		}
		@media (max-width: 768px) {
			font-size: 30px;
			line-height:30px;
			padding: 20px;
			padding-bottom: 30px;	
		}

}
h2 {
	font-family: 'Libre Baskerville';
	font-size: 50px;
	font-style: normal;
	font-weight: 700;
	text-align: center;
	color: #313131;
	margin: 0;
	@media (max-width: 992px) {
		font-size: 40px;
		line-height:45px;
	}
}
h3 {
	font-family: 'Poppins';
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	text-align: center;
	color: #313131;
	padding-top: 25px;
	padding-bottom: 25px;
	margin: 0;
	@media (max-width: 768px) {
		font-size: 15px;
		line-height:15px;
	}
}
p {
	font-family: 'Poppins';
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height:25px;
	text-align: center;
	color: #616161;
	padding-top: 50px;
	padding-bottom: 75px;
	margin: 0;
}
a:hover{
	text-decoration: none;
}
.motto {
	font-family: 'Poppins';
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height:28px;
	text-align: center;
	color: #616161;
		@media (max-width: 992px) {
			padding-top: 40px;
			padding-bottom: 40px;
		}
		@media (max-width: 768px) {
			padding-top: 30px;
			padding-bottom: 30px;	
		}
		@media (max-width: 480px) {
			padding-top: 20px;
			padding-bottom: 20px;	
		}
}
.container_menu {
	margin: 0 auto;
	max-width: 1100px;
	padding: 0 70px;
		@media (max-width: 992px) {
			padding: 0 50px;
		}
}
.container {
	margin: 0 auto;
	padding-top: 90px;
	padding-bottom: 90px;
	max-width: 1100px;
		@media (max-width: 992px) {
			padding-top: 60px;
			padding-bottom: 60px;
		}
		@media (max-width: 768px) {
			padding-top: 30px;
			padding-bottom: 30px;	
		}
		@media (max-width: 480px) {
			padding-top: 20px;
			padding-bottom: 20px;	
		}
}
.light_fon{
	background: $ligth_fon;
}
.dark_fon{
	background: $dark_fon;
}


header{
	position: relative;
	position: fixed;
	z-index: 2;
	width: 100%;
	height: 70px;
	background: #ffffff;
	.logo-box {
		float: left;
		margin-right: 50px;
		img {
			display: block;
			padding-top: 16px;
		}
	}
	.menu_button{
		display: none;
		float: right;

	}
	nav {
		overflow: hidden;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			float: right;
			li {
				display: inline-block;
				margin-left: 10px;
				height: 70px;
				font-family: 'Poppins';
				font-weight: 500;
				line-height: 70px;
				a {
					text-decoration: none;
					display: block;
					color: #272727;
					
					
					&:hover {
						color: #fc5f45;
						text-decoration: none;
					}
					&:active {
						color: #fc5f45;
						text-decoration: none;
					}
				}
			}
		}
	}
	@media (max-width: 992px){
		.menu_button{
		display: block;
		padding-top: 15px;
		
		&__btn{
			width: 40px;
			height: 30px;
			border: none;
			background: transparent;
			font-size: 30px;
			&:hover{
				color: $red;
			}
			&:active{
				border: none;
				background: transparent;
			}
		}
		&__list{
			background: rgba(0,0,0,0.8);
			left: -300%;
			right: 0;
			top: 70px;
			width: 100px;
			padding: 0;
			&_none{
				display: none;
			}
				li{
					text-align: center;
					&:hover{
						background: #a3a3a3;
					}
					
					a{
						color: #ffffff;
					&:hover{
						color: #272727;
						}
					}
				}
			} 
		}
		nav {
			ul{
				padding-right: 40px;
				.menu__list_none{
					display: none;
				}
			}
			/*ul{
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				display: block;
				width: 100%;
				background: rgba(0,0,0,0.6);
				left: 0;
				text-align: center;
				top: 70px;
				li {
					display: block;
					margin-left: 0;
					font-family: 'Poppins';
					font-weight: 500;
					line-height: 40px;
					height: 40px;
					&:hover{
						background: #a3a3a3;
					}
					
					a{
						color: #ffffff;
					&:hover{
						color: #272727;
					}
					}
				}
			}*/
		}
	}
	@media (max-width: 768px){
		.logo-box{
			margin-right: 20px;
		}
		.menu_button{
		&__list{
			&_none{
				display: block;
				}
			} 
		}
		nav {
			display: none;
		}
	}
}





.logo {
	background: $dark_fon;
	min-height: 70px;
	&__button {
		display: flex;
		justify-content: space-around;
	}
	&__forcolor {
		display: flex;
		justify-content: space-around;
		padding-top: 50px;
		&__one {
			font-family: 'Poppins';
			font-size: 18px;
			font-weight: Regular;
			text-align: center;
			padding-top: 25px;
			margin: 0 15px ;
			width: 250px;
			&_p {
				padding-top: 20px;
				padding-bottom: 0;
			}
			&_green {
				color: #38c695;
			}
			&_purple {
				color: #b27cf5;
			}
			&_orange {
				color: #feb960;
			}
		}
	}
	@media (max-width: 768px){
		&__forcolor {
			padding-top: 30px;
			&__one_p {
				font-size: 12px;
			}
		}
	}
	@media (max-width: 480px){
		&__forcolor{
			padding-top: 20px;
			display: block;
			margin: 0 auto;
			max-width: 280px;
			&__one{
				padding: 5px;
				margin-bottom: 15px;
			}
			p {
				font-size: 12px;
				padding:10px;
				margin:0;
			}
		}
	}
	
}



.button {
	background-color: #fc5f45;
	border-radius: 50px;
	border: none;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	outline: none;
}

.about-us {
	height: 700px;
	width: 1000px;
	margin: 0 auto;
	position: relative;
	&__img {
		width: 500px;
		height: 700px;
		background: #cccccc;
		background: linear-gradient( to bottom, #cccccc, #d9aca5);
		border: 10px solid transparent;
		border-image: linear-gradient(to bottom, #a3a3a3, #ae8a83 );
		border-image-slice: 1;
		display:inline-block;
		position: absolute;
	}
	&__bottom {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		font-size: 0;
		&-item {
			display: inline-block;
			width: 25%;
			height: 5px;
			&_red {
				background: $red;
			}
			&_green {
				background: $green;
			}
			&_purple {
				background: $purple;
			}
			&_orange {
				background: $orange;
			}
		}
	}
	&__article {
		width: 600px;
		height: 480px;
		display: inline-block;
		position: absolute;
		left: 390px;
		top: 100px;
		background: #ffffff;
		box-shadow: 0 0 20px rgba(0,0,0,0.5);
		&_h2 {
			padding-top: 50px;
			padding-left: 40px;
			text-align: left;
		}
		&_p {
			padding: 40px;
			text-align: left;
		}
	}
	@media (max-width: 1200px) {
		height: 500px;
		width: 840px;
		&__img {
			width: 400px;
			height: 500px;
		}
		&__article{
			width: 500px;
			height: 380px;
			left: 320px;
			top: 50px;
			&_h2 {
				font-size: 30px;
				padding-top: 30px;
				padding-left: 40px;
				text-align: left;
			}
			&_p {
				font-size: 14px;
				line-height:21px;
				padding:30px 40px 40px 40px;
				text-align: left;
			}
		}
	}
	@media (max-width: 992px){
		display: none;
	}
}
.article_min{

	@media (min-width: 992px){
		display: none;
	}
}


.our-focus{
	&__object {
		min-width: 250px;
		max-width: 350px;
		height:350px ;
		background: #ffffff;
		padding: 60px 30px ;
		margin: 0 auto;
		margin-bottom: 30px;
		text-align: center;
		@media (max-width: 768px) {
			padding: 30px 15px ;
			margin-bottom: 15px;
			min-width: 170px;
			height:250px ;
			p{
				font-size: 10px;
				padding-top: 10px;
				line-height:20px;
			}
		}
		&_red {
			border-bottom: 4px solid $red;
		}
		&_green {
			border-bottom: 4px solid $green
		}
		&_purple {
			border-bottom: 4px solid $purple;
		}
		&_orange {
			border-bottom: 4px solid $orange;
		}
	}
}


.fullscreen-bg {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    padding-top:45%;
	margin: 0 auto;
	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		}

	.overlay {
		background: rgba(0,0,0,0.6);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		&__center{
			opacity: 0.5;
			height: 240px;
			position: absolute;
			top:0;
			bottom: 0;
			left: 30%;
			right: 30%;
			margin:auto 0;
				h2{
				padding-top:0;
				padding-bottom: 50px;
				font-size: 30px;
				color: #ffffff;
				}
				p{
					padding-top: 50px;
					padding-bottom: 0;
					color: #ffffff;
				}
				.play{
					display: block;
					margin: 0 auto;
					background: transparent url('../images/alexis-homepage_19.png') center no-repeat; /*Это файл картинки*/
					height: 80px;
					border: none;
					outline: none;
					width: 80px;
				}
				
		}
	}
	@media (max-width: 1100px){
		.overlay{
			&__center{
				height: 200px;
				h2{
					font-size: 20px;
					padding-bottom: 30px;
				}
				p{
					font-size: 10px;
					padding-top: 30px;
				}
			}
		}
	}
	@media (max-width: 768px) {
			display: none;
		}
}
.portfolio{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
	&__table{
		width: 320px;
		margin-bottom: 20px;
		position: relative;
		border: 3px solid #ffffff;
		
		
		img{
			width: 100%;
		}
		&__hover{
			width: 100%;
			position:absolute;
			left:0;
			bottom:0;
			right:0;
			top:0;
			background:rgba(0,0,0, 0.5);
			box-shadow: 0 0 7px rgba(0,0,0,0.3);
			display: none;
			&_image{
				height: 70%;
				display: flex;
				justify-content: center;
				align-items: center;
				a{
					width: 20%;
					img:hover{
					transform: scale(1.2);
				}
			}
			}
			
			&_top{
				width: 100%;
				font-size: 0;
				&_item {
					display: inline-block;
					width: 25%;
					height: 3px;
					&_red {
						background: $red;
					}
					&_green {
						background: $green;
					}
					&_purple {
						background: $purple;
					}
					&_orange {
						background: $orange;
					}
				}
			}
			&_content{
				background: #ffffff;
				height: 29%;
				display: flex;
				justify-content: center;
				align-items: center;
				p{
					padding-top: 0;
					padding-bottom: 0;
					&:hover{
						color: #fc5f45;
					}
				}
			}

			
		}
		
		&:hover .portfolio__table__hover{
			display: block;
		}
		
	}
	@media (max-width: 768px) {
			&__table{
				width: 220px;
			}
		}
	
}
.our-team{
	display: flex;
	justify-content: space-between;
	width: 100%;
	&__table {
		background: #ffffff;
		padding: 5px;
		width: 23%;
		border-bottom: 3px solid;
		position: relative;
		&_for768{
			display: none;
		}
		&_for480 {
			display: none;
		}
		&_ava{
			img{
				width: 100%;
				height: auto;
			}
			&_icon{
				display: none;
				}
			}
			
			h3{
				padding-bottom: 10px;
			}
			p{
				padding-top: 0;
				padding-bottom: 8px;
				font-size: 13px;
				
			}
			&_red{
				color: $red;
				border-color: $red;
				&::after {
				content: ''; 
				position: absolute; /* Абсолютное позиционирование */
				left:35%;
				bottom: -40px; /* Положение треугольника */
				border: 35px solid transparent; /* Прозрачные границы */
				border-bottom: 35px solid #ffffff; /* Добавляем треугольник */
				display: none;
				}
			}
			&_green{
				color: $green;
				border-color: $green;
				&::after {
				content: ''; 
				position: absolute; /* Абсолютное позиционирование */
				left:35%;
				bottom: -40px; /* Положение треугольника */
				border: 35px solid transparent; /* Прозрачные границы */
				border-bottom: 35px solid #ffffff; /* Добавляем треугольник */
				display: none;
				}
			}
			&_purple {
				color: $purple;
				border-color: $purple;
				&::after {
				content: ''; 
				position: absolute; /* Абсолютное позиционирование */
				left:35%;
				bottom: -40px; /* Положение треугольника */
				border: 35px solid transparent; /* Прозрачные границы */
				border-bottom: 35px solid #ffffff; /* Добавляем треугольник */
				display: none;
				}
			}
			&_orange{
				color: $orange;
				border-color: $orange;
				&::after {
				content: ''; 
				position: absolute; /* Абсолютное позиционирование */
				left:35%;
				bottom: -40px; /* Положение треугольника */
				border: 35px solid transparent; /* Прозрачные границы */
				border-bottom: 35px solid #ffffff; /* Добавляем треугольник */
				display: none;
				}
			}
	}
	@media (max-width: 992px){
		 
		 &__table{
			width: 170px;
			margin: 0;
			margin-bottom: 30px;
			
			h3{
				font-size: 15px;
			}
		}
	}
	@media (max-width: 768px){
		flex-wrap: wrap;
		justify-content: space-around;
		&__table{
			width: 100%;
			height: 50%;
			padding: 0;
			&_for768{
				display: block;
			}
				&_ava{
					display: inline-block;
					width:30%;
					margin: 10px;
					margin-top: 23px;
					vertical-align: top;
					&_icon{
						display: block;
						width: 175px;
						margin: auto;
						margin-top: 25px;
						a{
							margin: 0 10px;
							img{
								width: 20px;
							}
						}
				}
			}
			&_inline{
				width: 60%;
				display: inline-block;
				vertical-align: top;
				margin-top: 25px;
			}
			p{
				text-align: left;
				
			}
			h3{
				text-align: left;
				padding: 0;
			}
			
		}
	}
	@media (max-width: 680px){
		&__table{
			border: none;
			&_for768{
				display: none;
			}
			&_ava{
				margin: 5px;
				vertical-align: middle;
				&_icon{
					display: none;
				}
			}
			&_inline{
				
				display: inline-block;
				vertical-align: middle;
				
			}
			p{
				text-align: center;
				
			}
			h3{
				font-size: 15px;
				text-align: center;
				padding-bottom: 10px;
			}
			&_for480{
				display: block;
				 
				
				&_button{
					width: 100%;
					height: 35px;
					background: #313131;
					outline: none;
					border: none;
				}
				&_text{
					display: none;
					border-bottom: 3px solid;
					p{
						text-align: center;
						padding: 20px;
					}
				}
			}
		}
	}
	
}
.about-team{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: #ffffff;
	margin: 30px 0;
	padding: 70px;
	&__text{
		width: 70%;
		h3{
			padding: 0;
			text-align: left;
		}
		p{
			padding:0;
			padding-top: 30px;
			text-align: left;
		}
	}
	&__social {
		display: flex;
		justify-content: center;
		height: 150px;
		margin-top: 40px;
		&_img{
			display: flex;
			align-items: center;
			width: 80px;
			border-right: 2px solid #3f4049;
		}
		&_icon{
			display: flex;
			align-items: center;
			ul{
				list-style-type: none;
				li{
					a{
						color: #616161;
						&:hover{
							color: #fc5f45;
						}
						img{
							vertical-align: middle;
						}
						span{
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	&_michael{
		
	} 
	&_david{
		display: none;		
	} 
	&_anna{
		display: none;
	} 
	&_jason{
		display: none;
	}
	@media (max-width: 992px){
		margin: 0;
		padding: 30px;
		&__text{
			width: 70%;
			h3{
				font-size: 15px;
				padding: 0;
				
			}
			p{
				font-size: 13px;
				padding:0;
				padding-top: 20px;
			}
		}
		&__social {
			&_img{
				padding-left: 20px;
			}
			&_icon{
				ul{
					padding-left: 20px;
				}
			}
		}
	}
	@media (max-width: 768px){
		display: none;
	}
}
